NOTION_TOKEN=YOUR_NOTION_TOKEN
NOTION_DATABASE_ID=YOUR_NOTION_DATABASE_ID

ZOHO_CLIENT_ID=YOUR_ZOHO_CLIENT_ID
ZOHO_CLIENT_SECRET=YOUR_ZOHO_CLIENT_SECRET
ZOHO_REFRESH_TOKEN=YOUR_ZOHO_REFRESH_TOKEN

# Opcional
ZOHO_ACCOUNT_ID=
ZOHO_ALERT_TO=
